
---
title: 브라이트코브 라이브 문서
parent: null
---
<style>
  h1 { margin-bottom: 0; }
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1 style="font-weight: bold;">{{ site.title }}</h1>
    <table width="100%" border="0">
	<tbody>
		<tr>
			<td width="30%">
			<div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6045789900001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
			<td width="70%">
			<h2>브라이트코브 라이브</h2>

			<p>라이브 모듈은 데스크톱 및 모바일 장치 모두에 라이브 이벤트를 브로드 캐스트하는 데 사용됩니다. 라이브 모듈에 이벤트 정보를 입력하면 현장 인코더에 연결하는 일련의 인코더 설정이 제공됩니다. 모든 트랜스 코딩은 클라우드에서 수행되므로 하드웨어 기반 트랜스 코더가 필요하지 않습니다.</p>

			<p>더 복잡한 사용 사례 및 통합의 경우 Live API를 사용할 수도 있습니다.</p>
			</td>
		</tr>
	</tbody>
</table>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">

      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">모두보기...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>