
---
title: '라이브 API: 사이'
description:서버 측 광고 작업에 대해 알아보세요.
parent: 'Working with the Live API'
---
 <h1>이 페이지가 이동되었습니다. <a href="https://apis.support.brightcove.com/live-api/ssai/index.html">새로운 위치</a> 3초 안에. 북마크를 업데이트하십시오!</h1>
<script type="text/javascript">
var t = 설정 시간 초과 (함수 () { window.location.href = 'https://apis.support.brightcove.com/live-api/ssai/index.html'; } , 3000);
</script>
<style>
  { justify-content: start; } .card-래퍼.bcls-카드 h2 { font-size: 1rem; } . bcls-카드 ul { margin-left: -2.4em; }
</style>
<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">토픽{{ page.title }}</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.parent %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>