
---
title: 라이브 API 코드 샘플
description:라이브 API 코드 샘플.
parent: 'Working with the Live API'
---
 <h1>이 페이지가 이동되었습니다. <a href="https://apis.support.brightcove.com/live-api/code-samples/index.html">새로운 위치</a> 3초 안에. 북마크를 업데이트하십시오!</h1>
<script type="text/javascript">
var t = 설정 시간 초과 (함수 () { window.location.href = 'https://apis.support.brightcove.com/live-api/code-samples/index.html'; } , 3000);
</script>
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">이 섹션의 주제</h2>
        <ul>
          {% for item in site.data.navigation %} {% if item.name == page.title %} {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
            <ul>
              {% for subentry in entry.docs %}
              <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %} </li>
          {% endfor %} {% endif %} {% endfor %}
        </ul>
      </div>
    </section>
  </section>
</article>